.button {
  background: linear-gradient(180deg, rgba(177.44, 150.14, 133.08, 0.64) 43.23%, rgba(63, 61, 86, 0.28) 91.67%);
  border-radius: 35px;
  cursor: pointer;
  height: 58px;
  margin-left: 3.0px;
  margin-top: 104px;
  opacity: 0;
  transform: scale(1.1);
  transition: all 0.2s ease;
  width: 189px;
}

.button.animate-enter {
  animation: animate-enter-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
  transform: scale(1.1);
}

.button:hover {
  transform: scale(1.1);
}

.text-2 {
  color: var(--gun-powder);
  direction: rtl;
  flex: 1;
  font-family: var(--font-family-cairo);
  font-size: var(--font-size-xl2);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 39.15%;
  margin-right: 10.05%;
  text-align: left;
  width: 96px;
}

@keyframes animate-enter-frames {
  from{opacity: 0;
transform: scale(1.1);
}
to{opacity: 1;
transform: scale(1);
}
}

